@import "tailwindcss";

:root {
  background-color: #050507;
  color: white;
}
body {
  background-color: #050507; 
  color: white;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 7;
  --background-end-rgb: 5, 5, 7;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}